APP_NAME=IoT Data Ingestion & Streaming Service
ENVIRONMENT=development
API_V1_PREFIX=
HOST=0.0.0.0
PORT=8000
LOG_LEVEL=INFO

JWT_SECRET_KEY=:l=Ng:{moQ%PW+kWtPl,/NGqKGZ:&By1vd@W{/pw.*>
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60

MONGO_URI=mongodb://mongo:27017
MONGO_DB_NAME=iot_service

REDIS_URL=redis://redis:6379/0
REDIS_CHANNEL_PREFIX=iot:user:

BOOTSTRAP_ADMIN_USERNAME=admin
BOOTSTRAP_ADMIN_PASSWORD=password
